{% extends 'polls/index.html' %}
{% load static %}

{% block content %}

  <h2 class="my-4">Hello {{user.username}}</h2>
    {% for post in posts %}
        <div class="card mb-4">
        	<div class="card-body">
        		<h2 class="card-title">
              <a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
        		 <p class="card-text">{{ post.text|linebreaksbr }}</p>
             
             <a href="{% url 'post_detail' pk=post.pk %}">Comments:{{post.comments.count }}</a><br><br>
        

        		 	<a href="#" class="btn btn-primary">Vote</a>
          </div>
          	<div class="card-footer text-muted">
                {{ post.published_date }}
            </div>
        </div>        
    {% endfor %}
{% endblock %}

